[submodule "extern/JoltPhysics"]
	path = extern/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "extern/JoltC"]
	path = extern/JoltC
	url = https://github.com/Evilpasture/JoltC.git