[submodule "extern/JoltPhysics"]
	path = extern/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "extern/JoltC"]
	path = extern/JoltC
	url = https://github.com/Evilpasture/JoltC.git
[submodule "extern/mag-mutex"]
	path = extern/mag-mutex
	url = https://github.com/Evilpasture/mag-mutex.git
[submodule "extern/fast-capi"]
	path = extern/fast-capi
	url = https://github.com/Evilpasture/fast-capi.git
